html {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;
    margin-bottom: 10%;
    
}

body {
    background-color:rgb(250, 248, 246);
    color: rgb(1, 27, 27);
       
     

}